.listaDeAlunos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.titleList {
    color: rgb(23, 21, 21);
    background-color: white;
    width: 50%;
    margin: 15px auto;
    font-size: 3.2rem;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .titleList {
        font-size: 2.2rem;

    }
}

@media only screen and (max-width: 630px) {
    .titleList {
        font-size: 2rem;
        width: 70%;
    }
}


@media only screen and (max-width: 400px) {
    .titleList {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 300px) {
    .titleList {
        font-size: 1.3rem;

    }
}

@media only screen and (max-width: 500px) {
    .post {
        height: 45vh;

    }
}